<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>{{ page.title }}&nbsp;&mdash;&nbsp;Piston</title>
  <meta name="author" content="François Beausoleil" />
	<link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />
</head>

<body>
	
	<div id="wrapper">
		<div id="header">
			<div>
        <p>Ease your vendor branch management worries with Piston, a tool to copy vendor / upstream code to your own repository, while preserving your local patches.</p>
				<p class="more"><a href="documentation.html">more</a></p>
			</div>
	  </div>
		<div id="nav">
			<a href="index.html">Home</a>
			<a href="contributors.html">Contributors</a>
			<a href="documentation.html">Documentation</a>
			<a href="http://piston.rubyforge.org/">RubyForge</a>
			<a class="lastchild" href="http://groups.google.com/group/piston-discussion">Google Group</a>
		</div>
    <div id="body"{% if page.onecol %} class="onecol"{% endif %}>
			<div id="body-top">
				<div id="body-bot">
          <div class="wrapper">
            {{ content }}
          </div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div id="foot">
			<div id="foot-top">
				<div id="foot-bot">
					<div id="what-box">
						<h2><b>What</b> we offer</h2>
						<img src="images/pic_3.jpg" width="86" height="77" alt="Pic 3" class="left" />
						<ul>
						 	<li><a href="http://www.freewebsitetemplates.com">Lorem ipsum</a> dolor sit amet, consectetuer adipiscing elit.</li>
							<li>Cras semper erat ut mi. </li>
							<li>Proin lobortis ipsum ac erat. </li>
							<li>Morbi nec enim vitae est posuere luctus.</li>
						</ul>
					</div>
					<div id="news-box">
						<h2><b>News</b> &amp; events</h2>
						<img src="images/pic_4.jpg" width="86" height="77" alt="Pic 4" class="left" />
						<ul>
						 	<li><a href="http://www.freewebsitetemplates.com">Nullam</a> scelerisque consequat libero. </li>
							<li><a href="http://www.freewebsitetemplates.com">Vivamus</a> mattis augue ut augue.</li>
						</ul>
						<p class="more clear"><a href="http://www.freewebsitetemplates.com"><img src="images/more.gif" width="68" height="14" alt="More" /></a></p>
 					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div id="footer">
      <p>Site content is &copy; 2006-2009 François Beausoleil, all right reserved.</p>
      <p><a href="http://github.com/francois/piston">Piston</a> is distributed under the MIT.</p>
		</div>
	</div>

</body>

</html>
